@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Ubuntu+Mono:ital@0;1&family=Urbanist:ital,wght@0,200;0,300;0,700;0,800;0,900;1,200&display=swap');

body {
  background-color: #222A2E;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}